/Satellite_Analyzer/.vs
/Satellite_Analyzer/bin
/Satellite_Analyzer/obj
/Satellite_Analyzer/packages
/Satellite_Analyzer/properties
/Satellite_Analyzer/Images
/Satellite_Analyzer/DarkImages

/TornadoPredictorOnnx/x64

